# 01 Import Libraries

In [3]:
import pandas as pd
import numpy as np
import os

# Importing Data

In [6]:
path = r'C:\Users\shaiv\Downloads\Instacart Basket Analysis'
path

'C:\\Users\\shaiv\\Downloads\\Instacart Basket Analysis'

In [8]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_products_new_variable_derived.pkl'))

# 02 Aggregate mean of the order_number for entire dataframe

In [10]:
ords_prods_merge.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

# 03 The mean values for the department ids present in the subset have all changed because some have increased while others have decreased.

# 04 Loyalty flag column was created in Part 1 of this exercise.

# 05 Using the loyalty flag column created and checking the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer).

In [14]:
# Aggregating data based on prices and getting statistics such as mean, min, max, std and median

ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max', 'std', 'median']})

                    prices
                      mean  min   max       std median
loyalty_flag
Loyal customer    7.773487  1.0  25.0  4.205886    7.4
New customer      7.801077  1.0  25.0  4.266452    7.4
Regular customer  7.798145  1.0  25.0  4.254540    7.4

##### Looking at the stats it looks like the prices of products purchased by loyal customers is almost same as product purchased by regular or new customers. The mean and standard deviation of prices are almost same.

# 06 Creating a spending flag for each user based on the average price across all their orders

In [17]:
# Create new column for avergae price of the order

ords_prods_merge['average_spend'] = ords_prods_merge.groupby(['user_id'])['prices'].transform('mean')

In [18]:
ords_prods_merge.head(10)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,prices_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_spend
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Average orders,10,New customer,6.367797
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Average orders,10,New customer,6.367797
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy,Average orders,10,New customer,6.367797
5,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days,Average orders,10,New customer,6.367797
6,2398795,1,2,3,7,15.0,False,10258,2,0,Pistachios,117,19,3.0,Low-range product,Slowest days,Average orders,10,New customer,6.367797
7,2398795,1,2,3,7,15.0,False,12427,3,1,Original Beef Jerky,23,19,4.4,Low-range product,Slowest days,Average orders,10,New customer,6.367797
8,2398795,1,2,3,7,15.0,False,13176,4,0,Bag of Organic Bananas,24,4,10.3,Mid-range product,Slowest days,Average orders,10,New customer,6.367797
9,2398795,1,2,3,7,15.0,False,26088,5,1,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Slowest days,Average orders,10,New customer,6.367797

In [19]:
# Criteria for each amount spent

ords_prods_merge.loc[ords_prods_merge['average_spend'] < 10, 'spender_flag'] = 'Low_spender'
ords_prods_merge.loc[ords_prods_merge['average_spend'] >= 10, 'spender_flag'] = 'High_spender'

In [20]:
ords_prods_merge['spender_flag'].value_counts(dropna = False)

spender_flag
Low_spender     32285150
High_spender      119709
Name: count, dtype: int64

##### There are more less spender (average < 10) than high spender (average >= 10).

# 07 Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column.

In [23]:
# Create new column for median in the days_since_prior_order

ords_prods_merge['customer_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform('median')

In [24]:
ords_prods_merge.head(10)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,department_id,prices,prices_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_spend,spender_flag,customer_frequency
0,2539329,1,1,2,8,NaN,True,196,1,0,...,7,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low_spender,20.5
1,2539329,1,1,2,8,NaN,True,14084,2,0,...,16,12.5,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low_spender,20.5
2,2539329,1,1,2,8,NaN,True,12427,3,0,...,19,4.4,Low-range product,Regularly busy,Average orders,10,New customer,6.367797,Low_spender,20.5
3,2539329,1,1,2,8,NaN,True,26088,4,0,...,19,4.7,Low-range product,Regularly busy,Average orders,10,New customer,6.367797,Low_spender,20.5
4,2539329,1,1,2,8,NaN,True,26405,5,0,...,17,1.0,Low-range product,Regularly busy,Average orders,10,New customer,6.367797,Low_spender,20.5
5,2398795,1,2,3,7,15.0,False,196,1,1,...,7,9.0,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low_spender,20.5
6,2398795,1,2,3,7,15.0,False,10258,2,0,...,19,3.0,Low-range product,Slowest days,Average orders,10,New customer,6.367797,Low_spender,20.5
7,2398795,1,2,3,7,15.0,False,12427,3,1,...,19,4.4,Low-range product,Slowest days,Average orders,10,New customer,6.367797,Low_spender,20.5
8,2398795,1,2,3,7,15.0,False,13176,4,0,...,4,10.3,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low_spender,20.5
9,2398795,1,2,3,7,15.0,False,26088,5,1,...,19,4.7,Low-range product,Slowest days,Average orders,10,New customer,6.367797,Low_spender,20.5

In [25]:
# Criteria for frequency flags

ords_prods_merge.loc[ords_prods_merge['customer_frequency'] > 20, 'frequency_flag'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['customer_frequency'] > 10) & (ords_prods_merge['customer_frequency'] <= 20), 'frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['customer_frequency'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [26]:
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: count, dtype: int64

##### Almost 2/3 rd of the customers are frequent customer who will be be receiving the notifications.

In [28]:
ords_prods_merge[['user_id', 'customer_frequency', 'frequency_flag']].head(60)

    user_id  customer_frequency         frequency_flag
0         1                20.5  Non-frequent customer
1         1                20.5  Non-frequent customer
2         1                20.5  Non-frequent customer
3         1                20.5  Non-frequent customer
4         1                20.5  Non-frequent customer
5         1                20.5  Non-frequent customer
6         1                20.5  Non-frequent customer
7         1                20.5  Non-frequent customer
8         1                20.5  Non-frequent customer
9         1                20.5  Non-frequent customer
10        1                20.5  Non-frequent customer
11        1                20.5  Non-frequent customer
12        1                20.5  Non-frequent customer
13        1                20.5  Non-frequent customer
14        1                20.5  Non-frequent customer
15        1                20.5  Non-frequent customer
16        1                20.5  Non-frequent customer
17        1                20.5  Non-frequent customer
18        1                20.5  Non-frequent customer
19        1                20.5  Non-frequent customer
20        1                20.5  Non-frequent customer
21        1                20.5  Non-frequent customer
22        1                20.5  Non-frequent customer
23        1                20.5  Non-frequent customer
24        1                20.5  Non-frequent customer
25        1                20.5  Non-frequent customer
26        1                20.5  Non-frequent customer
27        1                20.5  Non-frequent customer
28        1                20.5  Non-frequent customer
29        1                20.5  Non-frequent customer
30        1                20.5  Non-frequent customer
31        1                20.5  Non-frequent customer
32        1                20.5  Non-frequent customer
33        1                20.5  Non-frequent customer
34        1                20.5  Non-frequent customer
35        1                20.5  Non-frequent customer
36        1                20.5  Non-frequent customer
37        1                20.5  Non-frequent customer
38        1                20.5  Non-frequent customer
39        1                20.5  Non-frequent customer
40        1                20.5  Non-frequent customer
41        1                20.5  Non-frequent customer
42        1                20.5  Non-frequent customer
43        1                20.5  Non-frequent customer
44        1                20.5  Non-frequent customer
45        1                20.5  Non-frequent customer
46        1                20.5  Non-frequent customer
47        1                20.5  Non-frequent customer
48        1                20.5  Non-frequent customer
49        1                20.5  Non-frequent customer
50        1                20.5  Non-frequent customer
51        1                20.5  Non-frequent customer
52        1                20.5  Non-frequent customer
53        1                20.5  Non-frequent customer
54        1                20.5  Non-frequent customer
55        1                20.5  Non-frequent customer
56        1                20.5  Non-frequent customer
57        1                20.5  Non-frequent customer
58        1                20.5  Non-frequent customer
59        2                13.0       Regular customer

# 09 Export dataframe

In [30]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_new_variables.pkl'))